body {
  font-family: Georgia;
  color: #666;
  line-height: 1.5em;
}

p, li {
  font-size: 1.1em;
}

#topbar {
  background-color: #00224f;
  margin-bottom: 1em;
}

.logo, .search {
  margin-top: 1em;
  margin-bottom: 1em;
}

.logo img {
  width: 5em;
  height: 5em;
}

.search {
  font-family: "Open Sans",Helvetica,Arial,sans-serif,Nimbus Sans L;
}

.search label {
  color: white;
}

.search input {
  width: 40em;
}

#footer {
  background-color: #00224f;
  margin-top: 2em;
  margin-bottom: 0;
  padding: 1em;
}

#topbar > div > a > img {
  float: left;
  margin: 1em;
  height: 5em;
}

#footer > div > a > img {
  float: left;
  margin: 1em;
  height: 6em;
}

#footer p, #topbar p {
  color: white;
  margin-top: 1em;
  font-family: "Open Sans",Helvetica,Arial,sans-serif,Nimbus Sans L;
  font-weight: bold;
}

#tagline {
  font-size: 1.5em;
}

h1, h2, h3, h4 {
  color: #424242;
  font-weight: bold;
  font-family: "Open Sans",Helvetica,Arial,sans-serif,Nimbus Sans L;
  margin-top: 10px;
}

h3 a, h3 a:hover {
  color: #424242;
  text-decoration: none;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h2.instances {
  border-bottom: 1px solid black;
}

h3 {
  font-size: 1.3em;
}

/*
.row img {
  width: 100%;
  max-height: 17em;
}*/

#news {
  height: 22em;
  text-align: center;
  padding-top: 10em;
  background-color: #999;
}

#news p {
  color: black;
  font-size: 2em;

}

.uri {
  margin:0 0 1em 3.5em;
}

.uri a {
  font-family: monospace;
  margin-left: 1em;
}

.finna-link {
  float: right;
  font-size: 1.2em;
  padding: 0.5em 0 0.5em 2em;
  margin: 0 0 0 2em;
  min-height: 2em;
  background-image: url("/static/img/finna.png");
  background-size: 2em 2em;
  background-position: left center;
  background-repeat: no-repeat;
}

.type-work {
  padding: 0 0 0 1.2em;
  background-image: url("/static/img/iconmonstr-light-bulb-7.svg");
  background-size: 1em 1em;
  background-position: left top;
  background-repeat: no-repeat;
}

.type-instance {
  padding: 0 0 0 1.2em;
  background-image: url("/static/img/iconmonstr-book-17.svg");
  background-size: 1em 1em;
  background-position: left top;
  background-repeat: no-repeat;
}

.type-person {
  padding: 0 0 0 1.2em;
  background-image: url("/static/img/iconmonstr-user-2.svg");
  background-size: 1em 1em;
  background-position: left top;
  background-repeat: no-repeat;
}

.type-organization {
  padding: 0 0 0 1.2em;
  background-image: url("/static/img/iconmonstr-building-16.svg");
  background-size: 1em 1em;
  background-position: left top;
  background-repeat: no-repeat;
}

.type-concept {
  padding: 0 0 0 1.2em;
  background-image: url("/static/img/iconmonstr-tag-11.svg");
  background-size: 1em 1em;
  background-position: left top;
  background-repeat: no-repeat;
}

.type-conceptscheme {
  padding: 0 0 0 1.2em;
  background-image: url("/static/img/iconmonstr-tag-14.svg");
  background-size: 1em 1em;
  background-position: left top;
  background-repeat: no-repeat;
}

.type-collection {
  padding: 0 0 0 1.2em;
  background-image: url("/static/img/iconmonstr-archive-4.svg");
  background-size: 1em 1em;
  background-position: left top;
  background-repeat: no-repeat;
}

.download {
  margin-top: 3em;
}

.download p {
  float: left;
  margin-right: 1em;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
