<!DOCTYPE html>
<html lang="en">
<head profile="http://a9.com/-/spec/opensearch/1.1/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if title %}
  <title>{{ title }} - National Library of Finland</title>
  {% else %}
  <title>Linked Data - National Library of Finland</title>
  {% endif %}
  <!-- Latest compiled and minified CSS -->
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="/static/css/bootstrap-3.3.7.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="search" href="/bib/opensearchdescription.xml" 
        type="application/opensearchdescription+xml" 
        title="NLF Linked Data Service" />
</head>
<body>
  <header class="navbar navbar-static-top" id="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-1 logo">
          <a href="http://www.nationallibrary.fi/en/"><img src="/static/img/logo_en.png" alt="The National Library of Finland"></a>
        </div>
        <div class="col-md-5">
          <p>National Library of Finland<br>
          Linked Data Service</p>
        </div>
        <div class="col-md-6 search">
          <label for="search">Search:</label>
          <input type="text" name="search" id="search">
        </div>
      </div>
    </div>
  </header>
  
  
  <div class="container"> 

    {% block content %}{% endblock %}

  </div> <!-- /container -->

  <footer id="footer">
    <div class="container">
      <a href="http://www.nationallibrary.fi/en/"><img src="/static/img/logo_en.png" alt="The National Library of Finland"></a>
      <p>The National Library of Finland</p>
    </div>
  </footer>

  <!-- Latest compiled and minified JavaScript -->
  <script src="/static/js/jquery-3.2.1.min.js"></script>
  <script src="/static/js/bootstrap-3.3.7.min.js"></script>
  <script src="/static/js/jquery.autocomplete-1.4.5.min.js"></script>
  <script src="/static/js/ui.js"></script>
</body>
</html>
