<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if title %}
  <title>{{ title }} - National Library of Finland</title>
  {% else %}
  <title>Linked Data - National Library of Finland</title>
  {% endif %}
  <!-- Latest compiled and minified CSS -->
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="/static/css/bootstrap-3.3.7.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header class="navbar navbar-static-top" id="topbar">
    <div class="container">
      <a href="http://www.nationallibrary.fi/en/"><img src="/static/img/logo_en.png" alt="The National Library of Finland"></a>
    </div>
  </header>
  <div class="container"> 

    {% block content %}{% endblock %}

  </div> <!-- /container -->
  <footer id="footer">
    <div class="container">
      <a href="http://www.nationallibrary.fi/en/"><img src="/static/img/logo_en.png" alt="The National Library of Finland"></a>
      <p>The National Library of Finland</p>
    </div>
  </footer>

  <!-- Latest compiled and minified JavaScript -->
  <script src="/static/js/jquery-3.2.1.min.js"></script>
  <script src="/static/js/bootstrap-3.3.7.min.js"></script>
  <script src="/static/js/ui.js"></script>
</body>
</html>
