<!DOCTYPE html>
<html lang="en">
<head profile="http://a9.com/-/spec/opensearch/1.1/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}
  {% if title %}
  <title>{{ title }} - NLF Open Data</title>
  {% else %}
  <title>Linked Data - National Library of Finland</title>
  {% endif %}
  {% endblock %}
  <!-- Latest compiled and minified CSS -->
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="/static/css/bootstrap-3.3.7.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="search" href="/bib/opensearchdescription.xml" 
        type="application/opensearchdescription+xml" 
        title="NLF Linked Data Service" />
  {% block head %}{% endblock %}
</head>
<body>
  <header class="navbar navbar-static-top" id="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-1 logo">
          <a href="http://www.nationallibrary.fi/en/"><img src="/static/img/logo_en.png" alt="The National Library of Finland"></a>
        </div>
        <div class="col-md-5">
          <p><a href="/">National Library of Finland<br>
          Open Data and Linked Data Service</a></p>
        </div>
        <div class="col-md-6 search">
          <form class="navbar-form" action="/bib/search.html" method="GET" role="search">
            <label for="query">Search works, persons, organizations and subjects:</label>
            <input type="text" name="query" id="query" class="form-control">
            <input type="submit" name="submit" value="Go" id="submit" class="btn btn-default">
          </form>
        </div>
      </div>
    </div>
  </header>
  
  
  <div class="container"> 

    {% block content %}{% endblock %}

  </div> <!-- /container -->

  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="http://www.nationallibrary.fi/en/"><img src="/static/img/logo_en.png" alt="The National Library of Finland"></a>
          <p><a href="http://www.nationallibrary.fi/en/">The National Library of
          Finland</a><br>
          P.O.Box 15 (Unioninkatu 36)<br>
          00014 University of Helsinki</p>
        </div>
        <div class="col-md-6">
          <p><a
          href="mailto:natlibfi-data@helsinki.fi">natlibfi-data@helsinki.fi</a></p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Latest compiled and minified JavaScript -->
  <script src="/static/js/jquery-3.2.1.min.js"></script>
  <script src="/static/js/bootstrap-3.3.7.min.js"></script>
  <script src="/static/js/jquery.autocomplete-1.4.5.min.js"></script>
  <script src="/static/js/ui.js"></script>
</body>
</html>
